<!DOCTYPE html>
<html>
  <head>
    <title>HTML app</title>
    @vite(['resources/js/app.js','resources/css/app.css'])
  </head>
<body class="mx-5">
  @include('components/layouts/partials/header')
  
  {{{ await $slots.main() }}}
</body>
</html>