<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    

    <!-- Links para o CSS -->
    <link href="/resources/css/produtos.css" rel="stylesheet">

    <!-- Script para interações -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Script de navegação, produtos, carrinho, etc.
      })
    </script>

    <!-- Outras tags necessárias -->
  
  </head>

  <body>
    <!-- Cabeçalho e navegação -->
    @include('components/layouts/partials/cabecalho')
    
    <!-- Conteúdo da página -->
    <main>
      {{{ await $slots.main() }}}
    </main>

    <!-- Rodapé -->
    @include('components/layouts/partials/footer')
  </body>
</html>
