@layouts.app()
   
    <main>
      <div>
        Lista de Produtos
      </div>
      
      <div>
        <div>Produto A</div>
        <ul>
          @each(product in product)
            <li>
              <a href="{{route('products.show',{id: product.id}) }}">{{product.nome}} - {{product.price}}</a>
            </li>
          @end
        </ul>
        @button({name: 'escreva'})
        aloou
        @end
      </div>
      </main>

@end
