@layouts.app()
<style>
    .nomeProd{
        color: yellow
    }
</style>
    <div>
        <div class="bg-slate-200"><a>Produto:</a>
        <a>-{{product.nome}}</a></div>
        
        <div><a> preco:</a> {{product.price}} </div>
        <div><p>{{product.description}}</p></div>
    </div>
@end