@layouts.app()
   
    <main class="mx-5">
     
      <ul>
      <div>
        Lista de Usuários
      </div>
      
      <div>
       
         
          @each(user in user  )
          
            <li>
            
              <a href="{{route('users.show',{id: user.id}) }}">{{user.fullName}} - {{user.email}} -</a> 
      
            </li>
          @end
        </ul>
        
      </div>
      </main>

@end
