@layouts.app()
<style>
    .nomeProd{
        color: yellow
    }
</style>
    <div>
        <div class="bg-slate-200"><a>Usuario:</a>
        <a>-{{user.fullName}}</a></div>
        
        <div><a> email:</a> {{user.email}} </div>
    </div>
@end