@layouts.app() 
    <div class="flex flex-col">
        <div class="align-center">
            <a href="{{route('users.index')}}">usuario</a>
        </div>
        <div>
            <a href="{{route('products.list')}}">produtos</a>
        </div>
    </div>
@end